<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>
</head>

<div th:replace="header :: header"/>

<body>
<div class="container" id="main-container">
    <div class="cont">
        <!-- the element whose background we're going to clip -->
        <div class="clipped">
            <h1>EDIT</h1>
        </div>
    </div>
    <div id="edit">
        <p text="Order" />
        <form th:action="@{'/demo/update-order/' + ${order.orderId}}" method="post">
            <div class="upload-inner-wrapper">
                <div>
                    <p>Order Id:</p>
                </div>
                <div>
                    <input type="text" name="orderId" th:value="${order.orderId}" readonly="readonly"/>
                </div>
            </div>
            <div class="upload-inner-wrapper">
                <div>
                    <p>Customer Name:</p>
                </div>
                <div>
                    <input type="text" name="customerName" th:value="${order.customerName}" maxlength="20" required="required"/>
                </div>
            </div>
            <div class="upload-inner-wrapper">
                <div>
                    <p>Order Reference:</p>
                </div>
                <div>
                    <input type="number" name="orderReference" th:value="${order.orderReference}" min="1" max="9999999999" required="required"/>
                </div>
            </div>
            <div class="upload-inner-wrapper">
                <div>
                    <p>Customer Address:</p>
                </div>
                <div>
                    <input type="text" name="customerAddress" th:value="${order.customerAddress}" maxlength="50" required="required"/>
                </div>
            </div>
            <div class="upload-inner-wrapper">
                <div>
                    <p>Date Placed:</p>
                </div>
                <div>
                    <input type="date" name="datePlaced" th:value="${order.date}" required="required"/>
                </div>
            </div>
            <div class="upload-inner-wrapper">
                <div>
                    <p>Order Status:</p>
                </div>
                <div>
                    <select class="sel" name="status" th:value="${order.status}">
                        <option value="RECEIVED">Received</option>
                        <option value="PROCESSED">Processed</option>
                        <option value="DELIVERED">Delivered</option>
                        <option value="RETURNED">Returned</option>
                    </select>
                </div>
            </div>
            <p><input class="button" type="submit" value="Submit"/> <input class="button" type="reset" value="Reset"/></p>
        </form>
    </div>
</div>

</body>
</html>